*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 2vw;
}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  /* padding: clamp(20px, 20vw, 200px) 20px 0; */
}

main {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(180deg,#fff, #fff);
}

.color-label {
  color: white;
  border-radius: .5em;
  display: flex;
  align-items: center;
  padding: .3em .5em;
  width: 15em;
  height: 2em;
  border: .1em solid;
  margin: .5em 0;
  background-color: #000;
}
.input-color {
  display: none;
}

.color-container {
  position: relative;
}


.label-orientation {
  display: flex;
  justify-content: center;
  background-color: rgb(218, 218, 218);
  padding: .3em .6em;
  border-radius: .3em;
  width: fit-content;
  margin-bottom: .5em;
}

.label-orientation p {
  font-size: .8em;
  margin-left: .5em;
}

label h2 {
  font-size: .9em;
}

#orientation {
  width: 15em;
}

.range-container {
  margin: 1em 0; 
}

button {
  padding: .3em .8em;
  background-color: rgb(218, 218, 218);
  border: none;
  border-radius: .3em;
  box-shadow: .1em .1em .2em rgb(98, 98, 98);
  margin: 0 .5em;
}

button p {
  font-size: .7em;
}