*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(26, 9, 103);
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}